DATABASE_URL=
JWT_SECRET=
OLLAMA_BASE_URL=
LLM_MODEL=
EMBEDDING_MODEL=

OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4.1-mini